<div class="mt-5 mb-5">
  <form method="post">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Key Word</label>
      <input
        type="text"
        name="quer"
        class="form-control"
        id="exampleInputEmail1"
        placeholder="Input key"
      />
    </div>
    <div class="form-label">
      <select class="form-control" name="gender" id="gender-input">
        <option value="">--Gender-- </option>
        <option value="male">Boy</option>
        <option value="fmale">Girl</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
  </form>
</div>